.imghighlight {
	border: 1px solid #1ABC9C !important;
}

img {
	width: 100%;
}

.hideinfo {
	display: none;
}

.logoimg {
	width: auto;
}

.urloptions {
	display: inline-block;
  vertical-align: middle;
  width: 10%;
}

.urlinput {
	display: inline-block;
  width: 90%;
  vertical-align: middle;	
}